<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chat</title>
  <% include ../partials/head%>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/socket.js"></script>
  <script src="/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
  <% include ../partials/navbar%>
  <div class="container-fluid col-md-5 col-md-offset-4">
    <h3 class="text-center">Chat With Online People</h3>
    <nav class="navbar navbar-light bg-faded">
      <ul class="nav navbar-nav ">
        <li class="nav-item active ">
          <!--. <%= name.email %> <span class="sr-only">(current)</span> -->
        </li>
        <li class="nav-item">
          <input class="form-control hidden"
            value="<%= name.email%>  <%= name.google.emailid %> <%= name.facebook.name %>" id="nama" type="text"
            placeholder="nama">
        </li>
      </ul>
    </nav>

    <!-- List of all the registered user -->
    <div>
      <ul>
        <% data.forEach(function(user){%>
        <li>
          <%= user.email %>
        </li>
        <%})%>
      </ul>
    </div>

    <div>
      <form>
        <input id="email" type="email" name="email">
        <input id="email-btn" type="submit">
      </form>
    </div>
    <div class="col-lg-8">
      <div class="chat">
      </div>

      <div class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <textarea name="name" class="text-chat"></textarea>
          </div>
        </div>
        <button type="buttom" class="btn btn-primary btn-chat">SEND !!</button>
      </div>
    </div>
  </div>
</body>
<script>
  $('#email-btn').click(function (e) {
    $.ajax({
      url: '/socket/email',
      type: 'POST',
      cache: false,
      data: { email: $('#email').val() }
      // ,
      // success: function () {
      //   console.log("success");
      // },
      // error: function (data) {
      //  console.log(JSON.stringify(data));
      // }
    });
    e.preventDefault();
  });
</script>
</html>